---
import { getLocale } from 'astro-i18n-aut';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section/Section';
import Jumbotron from '../components/Jumbotron/Jumbotron';
import ContentCardGrid from '../components/ContentCardGrid/ContentCardGrid';
import ContentCard from '../components/ContentCard/ContentCard';
import AvatarCardGrid from '../components/AvatarCardGrid/AvatarCardGrid';
import AvatarCard from '../components/AvatarCard/AvatarCard';
import pageDataGetter from '../content-helpers/home';

const locale = getLocale(Astro.url);
const pageData = pageDataGetter(locale);
const pageMetaDescription = pageData.siteData.description.trim();

const pageMetaInformation = {
  tags: [
    {
      content: 'index, follow',
      name: 'robots',
    },
    {
      content: pageMetaDescription,
      name: 'description',
    },
    {
      content: 'article',
      property: 'og:type',
    },
    {
      content: pageData.siteData.docTitle,
      property: 'og:title',
    },
    {
      content: pageMetaDescription,
      property: 'og:description',
    },
    {
      content: Astro.url,
      property: 'og:url',
    },
    {
      content: 'summary',
      property: 'twitter:card',
    },
    {
      content: pageData.siteData.docTitle,
      property: 'twitter:title',
    },
    {
      content: pageMetaDescription,
      property: 'twitter:description',
    },
  ],
  title: pageData.siteData.docTitle,
};

---

<Layout
  pageTitle={pageMetaInformation.title}
  pageMetaTags={pageMetaInformation.tags}
  isHome={true}
>
  <!-- Header -->
  <Section
    fullWidth
    noVerticalSpacingTop
    noVerticalSpacingBottom
  >
    <Jumbotron {...pageData.jumbotronData} />
  </Section>

  <!-- Services -->
  <Section
    large

  >
    <Jumbotron {...pageData.jumbotronDataServices} />
    <ContentCardGrid
      ariaLabelledBy={pageData.jumbotronDataServices.heading.id}
    >
      <ContentCard {...pageData.serviceCardTeaser1} />
      <ContentCard {...pageData.serviceCardTeaser2} />
      <ContentCard {...pageData.serviceCardTeaser3} />
      <ContentCard {...pageData.serviceCardTeaser4} />
      <ContentCard {...pageData.serviceCardTeaser5} />
      <ContentCard {...pageData.serviceCardTeaser6} />
    </ContentCardGrid>
  </Section>

  <!-- About -->
  <Section large>
    <Jumbotron {...pageData.jumbotronDataAbout} />
    <AvatarCardGrid
      ariaLabelledBy={pageData.jumbotronDataAbout.heading.id}
    >
      <AvatarCard {...pageData.avatarCardMarius} />
      <AvatarCard {...pageData.avatarCardYves} />
    </AvatarCardGrid>
  </Section>

</Layout>
