---
import Icon from './Icon.astro';

const {
  alt,
  href,
  icon,
  iconHeight,
  iconWidth,
  text,
} = Astro.props.langSwitch;
---

<a
  href={href}
  class="link"
>
  <Icon
    icon={icon}
    alt={alt}
    width={iconWidth}
    height={iconHeight}
    class="icon"
  />
  {text}
</a>

<style lang="scss">
  @use '../styles/functions' as fn;

  .link {
    text-decoration: none;
  }

  .icon {
    display: block;
    width: 200px;
    height: auto;
  }
</style>
