---
import { getLocale } from 'astro-i18n-aut';
import generalDataGetter from '../content/general';
import Form from '../components/Form/Form';
import Link from '../components/Link/Link';

const locale = getLocale(Astro.url);

const generalData = generalDataGetter(locale);

---
<Form
  client:load
  {...generalData.contactFormData}
>

  <div slot="privacyNote">
    <p>{generalData.contactFormData.privacyNote.preLink} <Link href="#">{generalData.contactFormData.privacyNote.link}</Link> {generalData.contactFormData.privacyNote.postLink}</p>
  </div>

</Form>

<script>
  import formEvents from '../components/Form/Form.events';

  window.addEventListener(formEvents.submitForm, async (evt) => {

    const {
      email,
      name,
      text,
    } = evt.detail;

    const message = `
    Contact form on vorhall.com filled out.<br><br>
    from: ${name}, ${email}<br><br>

    message:
    ${text}
    `;

    const url = '/.netlify/functions/send-mail';

    const data = {
      from: 'Vorhall.com Contact <vorhall@resend.dev>',
      message,
      subject: 'Contact form on vorhall.com',
      to: 'vorhall23@gmail.com',
    };

    const options = {
      body: JSON.stringify(data),
      cache: 'no-cache',
      credentials: 'same-origin',
      headers: {
        'Content-Type': 'application/json',
      },
      method: 'POST',
    };

    try {
      const response = await fetch(url, options);
      const responseData = await response.text();
      const responseDataParsed = JSON.parse(responseData);

      if (responseDataParsed.statusCode !== 200) {
        console.log('There was an error sending the mail');
        console.log(responseDataParsed);

        return;
      }

      console.log('E-Mail successfully send');

    } catch (e) {
      console.log(e);
    }
  });

</script>
