---
import Tracking from '../page-helpers/Tracking.astro';
import { generalMetaTags } from '../content-helpers/metaTags';
import { getLocale } from 'astro-i18n-aut';
import generalDataGetter from '../content-helpers/general';
import { pageRoutes } from '../content-helpers/pageRoutes';
import Footer from '../components/Footer/Footer';
import Section from '../components/Section/Section';
import Jumbotron from '../components/Jumbotron/Jumbotron';
import Form from '../components/Form/Form';
import SkipLink from '../components/SkipLink/SkipLink';
import Link from '../components/Link/Link';
import Navigation from '../components/Navigation/Navigation';
import Button from '../components/Button/Button';

const locale = getLocale(Astro.url);
const generalData = generalDataGetter(locale);
const path = Astro.url.pathname;

const {
  pageTitle,
  pageMetaTags,
  isHome = false,
} = Astro.props;

const metaTags = [
  ...generalMetaTags(Astro.generator),
  ...pageMetaTags || [],
];

const title = pageTitle || generalData.siteData.title;

---

<!doctype html>
<html lang={locale}>
  <head>
    <title>{`${title} | Vorhall KLG`}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    {metaTags.map((tag) => <meta {...tag} />)}

    <script>
      import FlyingFocus from '../helpers/flying-focus/flying-focus';

      window.flyingFocus = new FlyingFocus();
    </script>

    <style is:global lang="scss">
      @import '../styles/global';
    </style>

    <link rel="preconnect" href="https://api.squeaky.ai/graphql" crossorigin />
    <link rel="preconnect" href="https://cdn.squeaky.ai/graphql" crossorigin />

  </head>
  <body>
    <section aria-label="Skiplinks">
      <SkipLink {...generalData.skipLink} />
    </section>

    {!isHome &&
      <Navigation>
        <Button {...generalData.siteData.homeButtonData} />
      </Navigation>
    }

    <slot />

    <Section highlight fullWidth>
      <Jumbotron {...generalData.jumbotronContact} />

      <Form
        client:load
        {...generalData.contactFormData}
      >

        <div slot="privacyNote">
          <p>{generalData.contactFormData.privacyNote.preLink} <Link href={pageRoutes(locale).dataPrivacy} secondary="true">{generalData.contactFormData.privacyNote.link}</Link> {generalData.contactFormData.privacyNote.postLink}</p>
        </div>

      </Form>

    </Section>

    <Footer {...generalData.footerData(locale, path)}/>

    <Tracking />
  </body>
</html>
