---
import { getLocale } from 'astro-i18n-aut';
import generalDataGetter from '../content/general';
import Footer from '../components/Footer/Footer';
import Section from '../components/Section/Section';
import Jumbotron from '../components/Jumbotron/Jumbotron';
import Form from '../components/Form/Form';
import Link from '../components/Link/Link';

const locale = getLocale(Astro.url);
const generalData = generalDataGetter(locale);
const {
  removeNoIndex,
} = Astro.props;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <title>{generalData.siteData.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="cyan" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
    <meta name="description" content={generalData.siteData.description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {!removeNoIndex && <meta name="robots" content="noindex">}
  </head>
  <body>
    <slot />

    <Section highlight fullWidth>
      <Jumbotron {...generalData.jumbotronContact} />

      <Form
        client:load
        {...generalData.contactFormData}
      >

        <div slot="privacyNote">
          <p>{generalData.contactFormData.privacyNote.preLink} <Link href="#">{generalData.contactFormData.privacyNote.link}</Link> {generalData.contactFormData.privacyNote.postLink}</p>
        </div>

      </Form>

    </Section>

    <Footer {...generalData.footerData(locale)}/>
  </body>
</html>

<style is:global lang="scss">
  @import '../styles/global';
</style>

<script>
  import FlyingFocus from '../helpers/flying-focus/flying-focus';

  window.flyingFocus = new FlyingFocus();
</script>
